<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  author: @AngelP
  Ejemplo de configuracion
  <appSettings>            
    <add key="sisgenBase" value="C:/sisgen/" />        
    <add key="rutRL" value="66666666" />               ->Sin digito verificador      
    <add key="rutClienteMain" value="66666666-6" />    ->Full rut
    <add key="isBloqued" value="false"/>               ->Por defecto en false
    <add key="segundosEspera" value="1000"/>           ->Recomiendo 1000, si es empresa ultra grande, 2000
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>  
  -->
  <appSettings>            
    <add key="sisgenBase" value="C:/sisgen/" />        
    <add key="rutRL" value="xxxx" />        
    <add key="rutClienteMain" value="xxxxx-K" />    
    <add key="isBloqued" value="false"/>
    <add key="segundosEspera" value="500"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>