<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="rutCliente" value="77725100"/>    
    <add key="ruta" value="c:/cermat/data/sisgendte/boleta/"/>
    <add key="rutaPHP" value="c:/cermat"/>
  </appSettings>
</configuration>